/* color palette from <https://github.com/vuejs/theme> */
:root {
  --color-border: #22222220;
  --color-main: hsla(160, 100%, 37%, 1);
  --color--text: #191919;
}

/* semantic color variables for this project
:root {

}

@media (prefers-color-scheme: dark) {
  :root {

  }
}
*/

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
