<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>1.8 JavaScript应用</title>
    <link rel="stylesheet" href="./index.css" />
  </head>
  <body>
    <div id="app">
      <div class="header">
        <p>ToDolist</p>
        <input type="text" placeholder="请输入ToDo" id="addtodo" />
        <button class="add" onclick="AddByButton(this)">添加</button>
      </div>
      <div class="content">
        <div class="ing">
          <h2>正在进行</h2>
          <ul>
          </ul>
        </div>
        <div class="done">
          <h2>已经完成</h2>
          <ul>
          </ul>
        </div>
      </div>
    </div>
    <script src="./index.js"></script>
  </body>
</html>
